/node_modules
/public/adminer.php
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env

# temp hide main files with personal data
/resources/views/_contacts.blade.php
/resources/views/_main.blade.php
/public/img/_resume-photo.jpg